[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stephenkid
[access "refs/for/refs/*"]
	read = group user/stephenkid
	push = group user/stephenkid
	label-Code-Review = -2..+2 group user/stephenkid
	label-Verified = -1..+1 group user/stephenkid
	rebase = group user/stephenkid
	removeReviewer = group user/stephenkid
	submit = group user/stephenkid
[access "refs/heads/*"]
	read = group user/stephenkid
	create = group user/stephenkid
	push = +force group user/stephenkid
	pushMerge = group user/stephenkid
[access "refs/tags/*"]
	push = +force group user/stephenkid
	pushTag = group user/stephenkid
	pushSignedTag = group user/stephenkid
